:root {
  --clr-accent-500: hsl(216, 94%, 43%);
  --clr-accent-400: #cbdeec;
  --clr-accent-300: hsl(216, 94%, 43%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(0, 0%, 0%);

  --clr-neutral-900: #f8f8f8;
  --clr-neutral-200: hsl(0 0% 97%);
  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter';
  color: #000000;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

p {
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
  font-size: 32px;
}

/* navigation */

.cover {
  background-image: url('../images/hero.jpg');
  height: 114vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper h1 {
  font-size: 32px;
  width: 44px;
  height: 39px;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
  width: 204px;
  height: 19px;
  top: 56px;
  left: 654px;
  gap: 73px;
  margin-top: 10px;
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
  cursor: pointer;
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    font-size: 24px;
    position: fixed;
    inset: 7rem var(--size-400) auto;
    margin-left: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
    width: 1510px;
    height: 43px;
    top: 43px;
    justify-content: space-between;
    padding: 0px, 40px, 0px, 40px;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

.content-wrapper {
  width: 1512px;
  height: 2270px;
  top: 988px;
}

/* card */

.card-wrapper {
  width: 1272px;
  height: 593px;
  top: 1199px;
  left: 120px;
  gap: 144px;
}

.card-container {
  width: 1272px;
  height: 376px;
  gap: 48px;
}

.card {
  width: 240px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  justify-content: center;
  height: 376px;
}

h2 {
  margin-top: 10px;
  font-size: 18px;
}

.card p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 60px;
  width: 213px;
  height: 74px;
  gap: 32px;
}

/* footer */

.primary-footer {
  --logo-color: var(--clr-neutral-100);
  padding: var(--size-700);
}

.primary-footer-wrapper {
  display: grid;
}

.primary-footer-logo-social {
  width: 247px;
  height: 61px;
  top: 3324px;
  left: 40px;
  gap: 32px;
}


.primary-footer-logo-social img {
  width: 61px;
  height: 61px;
  gap: 10px;
  border-radius: 50%;
}

@media (min-width: 50em) {
  .primary-footer-wrapper {
    grid-template-areas: "logo-social nav form";
  }

  .primary-footer-logo-social {
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--size-700);
  }
}

@media (max-width: 50em) {
  .primary-footer-wrapper > * {
    margin-inline: auto;
  }
}

/* footer navigation */

.primary-footer-links {
  width: 487px;
  height: 39px;
  top: 3335px;
  left: 983px;
  gap: 80px;
  margin-left: 689px;
  margin-top: 11px;
}

.primary-footer-links button {
  width: 169px;
  height: 39px;
  padding: 10px, 40px, 10px, 40px;
  color: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  gap: 10px;
}

.primary-footer-links a {
  height: 19px;
  padding: 37px;
}

.primary-footer-links :hover {
  background-color: #cbdeec;
  border: none;
  cursor: pointer;
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

.flow hr {
  margin-top: 375px;
  width: 128px;
  height: 7px;
}

.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-100);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

/* Subscribe feature */
.subscribe-feature {
  margin: auto;
  background-color: #f8f8f8;
  text-align: center;
  width: 586px;
  height: 240px;
  top: 2936px;
  left: 463px;
  gap: 32px;
}

.subscribe-elements {
  width: 586px;
  height: 169px;
  gap: 32px;
}

.subscribe-title {
  font-size: 32px;
  font-weight: bold;
  width: 177px;
  height: 39px;
  gap: 12px;
}

.subscribe-description {
  font-size: 16px;
  width: 194px;
  height: 19px;
  line-height: 19.36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 20px;
}

.email-input {
  width: 586px;
  height: 67px;
  gap: 10px;
  padding: 24px, 32px, 24px, 32px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.subscribe-button {
  width: 141px;
  height: 39px;
  padding: 10px, 40px, 10px, 40px;
  color: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  gap: 10px;
  margin-top: 30px;
}

.subscribe-button:hover {
  background-color: #cbdeec;
  border: none;
}

.catcher {
  left: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  font-size: 112px;
  margin-top: -5px;
}

.era {
  left: 0;
  line-height: 200px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 200%;
  color: #000000;
}

span {
  color: #f8f8f8;
}

hr {
  margin-top: 30px;   
  background-color: #000000;
  height: 2px;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
}

.card hr { 
  background-color: #000000;
  height: 4px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 32px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.column h1 {
  margin-left: auto;
  margin-right: auto;
  width: 163px;
  height: 73px;
  gap: 32px;
}

.column p {
  margin-left: auto;
  margin-right: auto;
  width: 580px;
  height: 190px;
}

.column img {
  height: 835px;
  width: 752px;
  top: 2035px;
}

.about-container {
  width: 580px;
  height: 374px;
  top: 2259px;
  left: 854px;
  gap: 84px;
}