:root {
  --background-color: #F8F8F8;
  --hover-color: #cbdeec;
  --font-color: hsl(0, 0%, 0%);
  --font-family: "Inter", sans-serif;
  --body-font: var(--font-family);
  --font-weight: 500;
  --nav-font-weight: 700;
  --heading-font-size: 2.5rem;

  --font-size: 1rem;
  --sub-heading-font-size: 1.875rem;
  --body-font-size: var(--font-size);
  --main-heading: var(--heading-font-size);
  --secondary-heading: var(--sub-heading-font-size);
  --nav-font-size: var(--font-size);
  --side-gap-size: 1rem;
  --gap-size: 2rem;
  --padding-block-size: 5rem;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  font-family: 'Inter';
  color: #000000;
  background: var(--background-color, #F8F8F8);
  width: 1512px;
  height: 2270px;
  flex-shrink: 0;
}


/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* general styling */

body {
  font-size: var(--body-font-size);
  font-family: var(--body-font);
  color: var(--font-color);
}

p {
  font-size: 16px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
  font-size: 32px;
}

/* navigation */

.cover {
  background-image: url('../images/hero.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  width: 1464px;
  height: 932px;
  margin: auto;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper h1 {
  font-size: 32px;
  width: 44px;
  height: 39px;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--nav-font-size);
  width: 204px;
  height: 19px;
  top: 56px;
  left: 654px;
  gap: 73px;
  margin-top: 10px;
  display: flex;
  font-weight: var(--font-weight);
}

.nav-list a {
  text-decoration: none;
  color: var(--font-color);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--hover-color);
  cursor: pointer;
}

h2 {
  margin-top: 10px;
  font-size: 18px;
}

.flow hr {
  margin-top: 400px;
  width: 128px;
  height: 7px;
}

.main-heading {
  font-size: var(--main-heading);
  line-height: 1.1;
}

.secondary-heading {
  font-size: var(--secondary-heading);
  line-height: 1.1;
}

.padding-block {
  padding-block: var(--padding-block-size);
}

.subscribe-button {
  width: 141px;
  height: 39px;
  padding: 10px, 40px, 10px, 40px;
  color: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  gap: 10px;
  margin-top: 30px;
}

.subscribe-button:hover {
  background-color: #cbdeec;
  border: none;
}

.catcher {
  left: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  font-size: 112px;
  margin-top: -5px;
}

.era {
  left: 0;
  line-height: 200px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 200%;
  color: #000000;
}

span {
  color: #f8f8f8;
}

hr {
  margin-top: 30px;   
  background-color: #000000;
  height: 2px;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
}

/* Cards */

.cards {
  box-shadow: 0 4px 2px 0 gray;
  width: 282px;
  height: 376px;
  flex-shrink: 0;
  margin-top: 90px;
  background-color: white;
}

.cards img {
  width: 282px;
  height: 182px;
}

.cards p {
  margin-top: 40px;
}

.article-section {
  margin-top: 211px;
  height: max-content;
  padding-bottom: 100px;
  text-align: center;
}

.card-containers {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 70px;
}

.row {
  display: flex;
  height: 835px;
}

.column {
  flex: 33.33%;
  height: 100%;
  background-color: white;
}

.column h1 {
  margin-left: auto;
  margin-right: auto;
  width: 163px;
  height: 73px;
  gap: 32px;
}

.column p {
  margin-left: auto;
  margin-right: auto;
  width: 580px;
  height: 190px;
}

.column img {
  height: 835px;
  width: 752px;
  top: 2035px;
}

/* Subscribe */

.subscribe {
  margin-top: 25px;
  margin-bottom: 82px;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  width: 586px;
  gap: 32px;
}

.subscribe h1 {
  text-align: center;
  font-size: 32px;
}

.subscribe p {
  text-align: center;
  font-size: 16px;
  margin-top: -30px;
}

input{
  width: 100%;
  padding: 15px;
  background-color: white;
}

.subscribe button {
  padding: 10px 40px;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/* Footer */

.footer {
  background-color: white;
  height: 166px;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-main {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.footer-icon { 
  padding: 10px;
  border-radius: 50%;
}

.footer-social {
  display: flex;
  gap: 25px;
  align-items: center;
}

.footer-link {
  display: flex;
  gap: 32px;
}

.link-cont {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.link-cont a:hover {
  cursor: pointer;
}

.footer button {
  width: 141px;
  height: 39px;
  padding: 10px, 40px, 10px, 40px;
  color: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  gap: 10px;
  margin-top: 10px;
}

/* Mobile */

@media (max-width: 991.98px) {

  .primary-navigation {
    display: none;
    font-size: 24px;
    position: fixed;
    inset: 7rem var(--side-gap-size) auto;
    margin-left: auto;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }

  .nav-list {
    display: grid;
    gap: var(--gap-size);
    text-align: center;
    font-weight: var(--nav-font-weight);
    width: 1510px;
    height: 43px;
    top: 43px;
    justify-content: space-between;
    padding: 0px, 40px, 0px, 40px;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--gap-size);
    right: var(--side-gap-size);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .logo {
    display: block;
    position: relative;
    top: var(--gap-size);
    left: var(--side-gap-size);
    margin-top: -5px;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }


  html, body {
    width: 100%;
  }

  .cover {
    width: inherit;
  }

  .header-text h1 {
    font-size: unset;
  }

  .flow hr {
    margin-top: 350px;
    width: 128px;
    height: 7px;
  }

  .card-containers {
    flex-wrap: wrap;
  }

  .row {
    flex-direction: column;
    height: auto;
  }

  .column p {
    width: unset;
    height: unset;
    margin: unset;
  }

  .subscribe-button {
    display: none;
  }

  .footer-container {
    flex-direction: column;
  }
  .footer-social {
    justify-content: center;
  }

  .footer-link {
    justify-content: center;
  }
}